.paypal-payment{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment{
    margin-top: 5rem;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(175, 167, 167);
    padding: 5rem;
}

#paypal-button-container{
    text-align: center;
    width: 30rem;
}

.payment-text{
    font-size: 3rem;
}

@media only screen and (max-width: 1250px) {
    .payment-text {
        font-size: 2rem;
    }

    #paypal-button-container{
    text-align: center;
    width: 20rem;
   }
}

@media only screen and (max-width: 900px) {
    .payment{
        width: 100%;
    }

    .payment-text {
        font-size: 2rem;
    }

    #paypal-button-container{
    text-align: center;
    width: 20rem;
   }
}

@media only screen and (max-width: 550px) {
    .payment{
        width: 100%;
    }
    .payment-text {
        font-size: 1.7rem;
    }

    #paypal-button-container{
    text-align: center;
    width: 15rem;
   }
}